/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/*fix white footer text*/
#top #footer, #top #footer span, #top #footer div, #top #footer p, #top #footer a, #top #socket a{
color:#000;
}

.button, #submit, .dropcap2, #header, #footer, #socket, div #footer h1, div #footer h2, div #footer h3, div #footer h4, div #footer h5, div #footer h6 ,div #footer h1 a,div  #footer h2 a, div #footer h3 a, div #footer h4 a, div #footer h5 a, div #footer h6 a, #top .sub_menu a, a.button , .button a:hover, .button:hover, div .widget_layered_nav ul li.chosen a, .widget_layered_nav ul .chosen small.count, #main table th, div .quantity input.minus:hover, div .quantity input.plus:hover{
color:#333;
}

#top #footer, #top #footer span, #top #footer div, #top #footer p, #top #footer a{
background-color:#ddd;
}

.dropcap2{
color:#fff;
background-color:#662D91;
}



#socket, div .callout .big_button:hover{
background-color:#b9b9b9;
}

.warranty {
float:right; 
margin: 0 0 15px 15px; 
width: 150px;
text-align: center;
}

img.warPic {
display: block;
margin-left: auto;
margin-right: auto;
}


